/*--Universal selector--*/
* {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 25px;
  background-color: lightblue;
}
/*--Tag Selector--*/
h1 {
  text-align: center;
  font-size: 3rem;
  color: crimson;
}
/*--Class/ID Selector--*/
.brand {
  width: 50%;
  float: right;
  padding: 10px;
}
/*--Combinator Selector--*/
div > p {
  /*-- ">" işareti, parenti div olanı etkiler. Boşluk bırakılırsa div içindeki bütün "p"leri etkiler --*/
  color: darkred;
  font-weight: 600;
}
li > p {
  border: 2px solid springgreen;
}
div + p {
  /*--div'den sonraki ilgili elementleri seçer--*/
  border: 2px dotted red;
}
div ~ p {
  border: 2px solid tomato;
}
