h1 {
  font-size: 65px;
  width: 500px;
  background-color: rosybrown;
  padding: 20px;
}
.em-clas {
  background-color: skyblue;
  font-size: 3em;
}
.rem-clas {
  background-color: springgreen;
  font-size: 3rem;
}
